$c-main: #fff;
$background: #F5F5F5;
$c-primary: #2e2e2e;
$secondary: #E8E8E8;
$secondary-default: #D9D9D9;
$table-sort: #A4AEB8;
$accent: #FFDD00;
$black: #000000;
$c-accent-400: #FFEB71;
$c-warning-700: #EB6826;
$success: #18AD5B;
$c-extra-700: #2680BD;
$table-border: #EAECEF;
$text-default: #666666;
$hover: #FEED00;
$table-text: #2B2D33;
$table-paginator: #93A0AB;
$table-paginator-active: #474955;
$stroke: #737373;
$c-error-700: #D11D1D;
$c-sec-400: #BFBFBF;
$dropdown-hover: #F3F4F3;