mat-card {
  margin-bottom: 20px;
}

.divider:before, .divider:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}

.alert-primary {
  color: #004085;
  background: rgba(80, 102, 225, 0.3) !important;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.label {
  align-items: center;
  color: #0d0d0d;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  position: relative;
}

.other {
  margin-top: 55px;
  margin-left: 40px;
}

.upload {
  margin-top: 25px !important;
}

.upload-zone {
  min-height: 200px;
  position: relative;
  width: 100%;
}

.upload-zone-select {
  background-color: #fafafa;
  border: 1px dashed #ededf7;
  border-radius: 4px;
  cursor: pointer;
  height: 104px;
  margin-bottom: 8px;
  margin-right: 8px;
  text-align: center;
  transition: border-color .3s;
  vertical-align: top;
}

.upload-zone-select:hover {
  border-color: #4040a8;
}

.upload-zone-button {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.podcast-icon {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
  display: inline-block;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
}

.w-45 {
  width: 45% !important;
}

.help {
  color: #a1a1b2;
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
}
