<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" mat-icon-button (click)="sidenav.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a routerLink="..">
      <img class="logo" src="/assets/image/your-cast-logo-white.png" alt="logo">
    </a>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon matBadge="{{ notifications.length }}" matBadgeColor="warn">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="user-info d-flex flex-column">
        <span class="user-name d-flex">{{ user.name }}</span>
        <span class="user-email d-flex">{{ user.email }}</span>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>perm_identity</mat-icon>
        <span (click)="handleMoveToDetail(user.id)">Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon matBadge="{{ notifications.length }}" matBadgeColor="warn">notifications</mat-icon>
        <span (click)="handleMoveToNotifications(user.id)">Notifications</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" [fixedInViewport]="false" mode="side" [opened]="!(isHandset$ | async)">
    <mat-nav-list [disableRipple]="true" id="menu-list">
      <div *ngFor="let item of navItems">
        <app-menu-list-item [item]="item"></app-menu-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-loader></app-loader>
    <main class="main-container">
      <div *ngIf="!loading">
        <router-outlet></router-outlet>
      </div>
      <!--<app-breadcrumbs></app-breadcrumbs>-->
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
