<mat-sidenav-container class="sidenav-container">
  <mat-sidenav id="left-menu" #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar id="left-menu-label">Menu</mat-toolbar>
    <mat-nav-list [disableRipple]="true" id="menu-list">
      <div *ngFor="let item of navItems">
        <app-menu-list-item [item]="item"></app-menu-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          id="handset-menu"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a routerLink=".." class="logo" id="main-logo"></a>
        <span class="example-spacer"></span>
        <mat-icon id="logout" class="example-icon logout" (click)="logOut()">logout</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
<!--    <app-loader></app-loader>-->
    <main class="main-container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
