// below defines your custom color to build a theme palette from
$your-cast-blue: (
  50 : #e0ecf6,
  100 : #b3cfea,
  200 : #80afdc,
  300 : #4d8ecd,
  400 : #2676c3,
  500 : #005eb8,
  600 : #0056b1,
  700 : #004ca8,
  800 : #0042a0,
  900 : #003191,
  A100 : #bdceff,
  A200 : #8aa8ff,
  A400 : #5782ff,
  A700 : #3d6fff,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$your-cast-light-blue: (
  50 : #e0f5fb,
  100 : #b3e5f6,
  200 : #80d4f0,
  300 : #4dc3e9,
  400 : #26b6e5,
  500 : #00a9e0,
  600 : #00a2dc,
  700 : #0098d8,
  800 : #008fd3,
  900 : #007ecb,
  A100 : #f3faff,
  A200 : #c0e4ff,
  A400 : #8dceff,
  A700 : #74c3ff,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$your-cast-cherry: (
  50 : #f9e0eb,
  100 : #f0b3cd,
  200 : #e780ac,
  300 : #dd4d8a,
  400 : #d52671,
  500 : #ce0058,
  600 : #c90050,
  700 : #c20047,
  800 : #bc003d,
  900 : #b0002d,
  A100 : #ffdae0,
  A200 : #ffa7b7,
  A400 : #ff748d,
  A700 : #ff5a78,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

.color-gray {
  color: #6c757d;
}

.bg-color-aliceblue {
  background: aliceblue;
}
