$font-path: "/assets/fonts";

@font-face {
    font-family: "Source Sans Pro";
    src: url("#{$font-path}/source-sans-pro-light/sourcesanspro-light.eot") format("eot"),
    url("#{$font-path}/source-sans-pro-light/sourcesanspro-light.woff2") format("woff2"),
    url("#{$font-path}/source-sans-pro-light/sourcesanspro-light.woff") format("woff"),
    url("#{$font-path}/source-sans-pro-light/sourcesanspro-light.ttf") format("truetype"),
    url("#{$font-path}/source-sans-pro-light/sourcesanspro-light.svg#source_sans_prolight") format("svg");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("#{$font-path}/source-sans-pro-regular/sourcesanspro-regular.eot") format("eot"),
    url("#{$font-path}/source-sans-pro-regular/sourcesanspro-regular.woff2") format("woff2"),
    url("#{$font-path}/source-sans-pro-regular/sourcesanspro-regular.woff") format("woff"),
    url("#{$font-path}/source-sans-pro-regular/sourcesanspro-regular.ttf") format("truetype"),
    url("#{$font-path}/source-sans-pro-regular/sourcesanspro-regular.svg#source_sans_proregular") format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("#{$font-path}/source-sans-pro-semibold/sourcesanspro-semibold.eot") format("eot"),
    url("#{$font-path}/source-sans-pro-semibold/sourcesanspro-semibold.woff2") format("woff2"),
    url("#{$font-path}/source-sans-pro-semibold/sourcesanspro-semibold.woff") format("woff"),
    url("#{$font-path}/source-sans-pro-semibold/sourcesanspro-semibold.ttf") format("truetype"),
    url("#{$font-path}/source-sans-pro-semibold/sourcesanspro-semibold.svg#source_sans_prosemibold") format("svg");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("#{$font-path}/source-sans-pro-bold/sourcesanspro-bold.eot") format("eot"),
    url("#{$font-path}/source-sans-pro-bold/sourcesanspro-bold.woff2") format("woff2"),
    url("#{$font-path}/source-sans-pro-bold/sourcesanspro-bold.woff") format("woff"),
    url("#{$font-path}/source-sans-pro-bold/sourcesanspro-bold.ttf") format("truetype"),
    url("#{$font-path}/source-sans-pro-bold/sourcesanspro-bold.svg#source_sans_probold") format("svg");
    font-style: normal;
    font-weight: 700;
}
