@import '../../node_modules/@angular/material/theming';

@import "_colors";

$custom-primary: mat-palette($your-cast-blue, 500, 200, 700);
$custom-accent: mat-palette($your-cast-light-blue, 500, 200, 700);
$custom-warn: mat-palette($your-cast-cherry, 500, 200, 700);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

$primary: mat-color($custom-primary);
$accent: mat-color($custom-accent);
$warn: mat-color($custom-warn);

@include angular-material-theme($custom-theme);
