.w70 {
  width: 70px;
}

.alert-primary {
  color: #004085;
  background: rgba(80, 102, 225, 0.3) !important;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.shows-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shows {
  margin-top: 25px !important;
}

.shows-area {
  min-height: 200px;
  position: relative;
  width: 100%;
}

.shows-area-select {
  background-color: #fafafa;
  border: 1px dashed #ededf7;
  border-radius: 4px;
  cursor: pointer;
  height: 100px;
  width: 250px;
  margin-bottom: 8px;
  margin-right: 8px;
  text-align: center;
  transition: border-color .3s;
  vertical-align: top;
}

.shows-area-select:hover {
  border-color: #4040a8;
}

.shows-area-selected {
  background: rgba(64, 64, 168, 0.4);
  border-color: #4040a8;
}

.shows-area-button {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
}
